.container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-file-upload {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}